/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

.tit {
  color: cadetblue
}

.grades {
  background-image: image_url('educacion_cursada.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 413px
}
.students {
  background-image: image_url('educacion_estudiantes.jpg');
  background-repeat: no-repeat;
  background-position: 62% 100%;
}
.exam_instances {
  background-image: image_url('educacion_evaluaciones.jpg');
  background-repeat: no-repeat;
  background-position: 100% 49%;
  min-height: 433px
}
.results {
  background-image: image_url('educacion_notas.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 423px
}
@media only screen and (max-width: 800px) {

.results {
  background-image: none;
}
.exam_instances {
  background-image: none;
}

}
